_*
*.cache
*.exe
*.jar
*.js
*.map
*.n
*.nodejs
*.o
*.php
*.py
*.swc
*.swf
*.zip
*.sublime-project
*.sublime-workspace
.project
doc/*
doc/api/*.xml
examples/*/app*
examples/*/build/
test/build/
test/unit*
util/
haxedoc.xml
TODO*
*.todo
